---

eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---


<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>

