---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layout.liquid

permalink: /tags/{{ tag  }}/ 
---
{% comment %} <h1>Tagged “{{ tag }}”</h1> {% endcomment %}
{% comment %}
  {% set postslist = collections[ tag ] %}
  {% include 'postslist.njk' %}

  <p>See <a href="/tags/">all tags</a>.</p>
{% endcomment %}

<br>
<br>
<br>
<br>
<h1>Tagged “{{ tag }}”</h1>

{% assign postslist = collections[tag] %}
{% for post in postslist %}
  {{ post.data.title }}
{% endfor %}
