<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/style.css' | url }}" />
  </head>
  <body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <div class="min-h-screen">{{ content }}</div>
  </body>
</html>
